In [1]:
import numpy as np
import pandas as pd

In [3]:
population = pd.Series([35.467, 63.951, 80.940, 60.665, 127.061, 64.511, 318.523])
pop=np.array([35.467, 63.951, 80.940, 60.665, 127.061, 64.511, 318.523])
population.name = "G7 population in millions"

In [4]:
pop

array([ 35.467,  63.951,  80.94 ,  60.665, 127.061,  64.511, 318.523])

In [5]:
population

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
Name: G7 population in millions, dtype: float64

In [6]:
pop.dtype

dtype('float64')

In [7]:
population.dtype

dtype('float64')

In [8]:
population.values

array([ 35.467,  63.951,  80.94 ,  60.665, 127.061,  64.511, 318.523])

In [10]:
population[0]

35.467

In [12]:
population[3]

60.665

In [13]:
population[5]

64.511

In [14]:
population.index

RangeIndex(start=0, stop=7, step=1)

In [15]:
population.index = [
    'Canada',
    'France',
    'Germany',
    'Italy',
    'Japan',
    'United Kingdom',
    'United States',
]

In [16]:
population

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 population in millions, dtype: float64

In [17]:
pd.Series({
    'Canada': 35.467,
    'France': 63.951,
    'Germany': 80.94,
    'Italy': 60.665,
    'Japan': 127.061,
    'United Kingdom': 64.511,
    'United States': 318.523
}, name='G7 Population in millions')

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [19]:
pd.Series(population, index=["Canada"])

Canada    35.467
Name: G7 population in millions, dtype: float64

In [21]:
pd.Series(population, index=["United Kingdom"])

United Kingdom    64.511
Name: G7 population in millions, dtype: float64

In [22]:
population["Italy"]

60.665

In [24]:
population["Japan"]

127.061

In [25]:
population.iloc[0:3]

Canada     35.467
France     63.951
Germany    80.940
Name: G7 population in millions, dtype: float64

In [26]:
population.iloc[-2]

64.511

In [28]:
population.iloc[1]

63.951

In [29]:
population.iloc[0:7]

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 population in millions, dtype: float64

In [30]:
population.index

Index(['Canada', 'France', 'Germany', 'Italy', 'Japan', 'United Kingdom',
       'United States'],
      dtype='object')

In [31]:
population['Canada' : 'Italy']

Canada     35.467
France     63.951
Germany    80.940
Italy      60.665
Name: G7 population in millions, dtype: float64

In [32]:
population['Italy' : 'United States']

Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 population in millions, dtype: float64

In [33]:
population < 50

Canada             True
France            False
Germany           False
Italy             False
Japan             False
United Kingdom    False
United States     False
Name: G7 population in millions, dtype: bool

In [35]:
population > 50

Canada            False
France             True
Germany            True
Italy              True
Japan              True
United Kingdom     True
United States      True
Name: G7 population in millions, dtype: bool

In [36]:
population.mean()

107.30257142857144

In [37]:
population.std()

97.24996987121581

In [38]:
population * 100000

Canada             3546700.0
France             6395100.0
Germany            8094000.0
Italy              6066500.0
Japan             12706100.0
United Kingdom     6451100.0
United States     31852300.0
Name: G7 population in millions, dtype: float64

In [39]:
np.log(population)

Canada            3.568603
France            4.158117
Germany           4.393708
Italy             4.105367
Japan             4.844667
United Kingdom    4.166836
United States     5.763695
Name: G7 population in millions, dtype: float64

In [40]:
population

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 population in millions, dtype: float64

In [41]:
population['France' : 'United Kingdom'].mean()

79.42559999999999

In [42]:
population['Canada' : 'United States'].mean()

107.30257142857144

In [43]:
population['France' : 'United Kingdom'].sum()

397.12799999999993

In [44]:
population['Canada' : 'United States'].sum()

751.118

In [45]:
population

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 population in millions, dtype: float64

In [46]:
population['Germany'] = 81.23
population

Canada             35.467
France             63.951
Germany            81.230
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 population in millions, dtype: float64

In [47]:
population['United States'] = 320.523
population

Canada             35.467
France             63.951
Germany            81.230
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     320.523
Name: G7 population in millions, dtype: float64

In [48]:
population.iloc[2] = 80.833
population

Canada             35.467
France             63.951
Germany            80.833
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     320.523
Name: G7 population in millions, dtype: float64

In [49]:
population.iloc[-1] = 350.333
population

Canada             35.467
France             63.951
Germany            80.833
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     350.333
Name: G7 population in millions, dtype: float64

In [50]:
population.iloc[0:4]

Canada     35.467
France     63.951
Germany    80.833
Italy      60.665
Name: G7 population in millions, dtype: float64

In [51]:
df = pd.DataFrame({
    'Population': [35.467, 63.951, 80.94 , 60.665, 127.061, 64.511, 318.523],
    'GDP': [
        1785387,
        2833687,
        3874437,
        2167744,
        4602367,
        2950039,
        17348075
    ],
    'Surface Area': [
        9984670,
        640679,
        357114,
        301336,
        377930,
        242495,
        9525067
    ],
    'HDI': [
        0.913,
        0.888,
        0.916,
        0.873,
        0.891,
        0.907,
        0.915
    ],
    'Continent': [
        'America',
        'Europe',
        'Europe',
        'Europe',
        'Asia',
        'Europe',
        'America'
    ]
}, columns=['Population', 'GDP', 'Surface Area', 'HDI', 'Continent'])

In [52]:
df

   Population       GDP  Surface Area    HDI Continent
0      35.467   1785387       9984670  0.913   America
1      63.951   2833687        640679  0.888    Europe
2      80.940   3874437        357114  0.916    Europe
3      60.665   2167744        301336  0.873    Europe
4     127.061   4602367        377930  0.891      Asia
5      64.511   2950039        242495  0.907    Europe
6     318.523  17348075       9525067  0.915   America

In [53]:
df.index = [
    'Canada',
    'France',
    'Germany',
    'Italy',
    'Japan',
    'United Kingdom',
    'United States',
]

In [54]:
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [55]:
df.shape

(7, 5)

In [57]:
df.columns

Index(['Population', 'GDP', 'Surface Area', 'HDI', 'Continent'], dtype='object')

In [58]:
df.index

Index(['Canada', 'France', 'Germany', 'Italy', 'Japan', 'United Kingdom',
       'United States'],
      dtype='object')

In [59]:
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, Canada to United States
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Population    7 non-null      float64
 1   GDP           7 non-null      int64
 2   Surface Area  7 non-null      int64
 3   HDI           7 non-null      float64
 4   Continent     7 non-null      object
dtypes: float64(2), int64(2), object(1)
memory usage: 336.0+ bytes

In [62]:
df.size

35

In [64]:
df.describe()

       Population           GDP  Surface Area       HDI
count    7.000000  7.000000e+00  7.000000e+00  7.000000
mean   107.302571  5.080248e+06  3.061327e+06  0.900429
std     97.249970  5.494020e+06  4.576187e+06  0.016592
min     35.467000  1.785387e+06  2.424950e+05  0.873000
25%     62.308000  2.500716e+06  3.292250e+05  0.889500
50%     64.511000  2.950039e+06  3.779300e+05  0.907000
75%    104.000500  4.238402e+06  5.082873e+06  0.914000
max    318.523000  1.734808e+07  9.984670e+06  0.916000

In [65]:
df.dtypes

Population      float64
GDP               int64
Surface Area      int64
HDI             float64
Continent        object
dtype: object

In [68]:
df.dtypes.value_counts()

float64    2
int64      2
object     1
Name: count, dtype: int64

In [69]:
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [70]:
df.loc['Canada']

Population       35.467
GDP             1785387
Surface Area    9984670
HDI               0.913
Continent       America
Name: Canada, dtype: object

In [71]:
df.loc['United Kingdom']

Population       64.511
GDP             2950039
Surface Area     242495
HDI               0.907
Continent        Europe
Name: United Kingdom, dtype: object

In [72]:
df.iloc[-1]

Population       318.523
GDP             17348075
Surface Area     9525067
HDI                0.915
Continent        America
Name: United States, dtype: object

In [73]:
df.loc['United States']

Population       318.523
GDP             17348075
Surface Area     9525067
HDI                0.915
Continent        America
Name: United States, dtype: object

In [74]:
df.iloc[5]

Population       64.511
GDP             2950039
Surface Area     242495
HDI               0.907
Continent        Europe
Name: United Kingdom, dtype: object

In [75]:
df.iloc[0]

Population       35.467
GDP             1785387
Surface Area    9984670
HDI               0.913
Continent       America
Name: Canada, dtype: object

In [76]:
df.iloc[-7]

Population       35.467
GDP             1785387
Surface Area    9984670
HDI               0.913
Continent       America
Name: Canada, dtype: object

In [78]:
df.loc['Italy']

Population       60.665
GDP             2167744
Surface Area     301336
HDI               0.873
Continent        Europe
Name: Italy, dtype: object

In [79]:
df.loc['France']

Population       63.951
GDP             2833687
Surface Area     640679
HDI               0.888
Continent        Europe
Name: France, dtype: object

In [80]:
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [82]:
df['Population']

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: Population, dtype: float64

In [89]:
df.column=[['GDP', 'Surface Area']]

In [90]:
df[['Population', 'GDP']]

                Population       GDP
Canada              35.467   1785387
France              63.951   2833687
Germany             80.940   3874437
Italy               60.665   2167744
Japan              127.061   4602367
United Kingdom      64.511   2950039
United States      318.523  17348075

In [91]:
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [92]:
df[['Surface Area', 'Continent']]

                Surface Area Continent
Canada               9984670   America
France                640679    Europe
Germany               357114    Europe
Italy                 301336    Europe
Japan                 377930      Asia
United Kingdom        242495    Europe
United States        9525067   America

In [93]:
df[1:3]

         Population      GDP  Surface Area    HDI Continent
France       63.951  2833687        640679  0.888    Europe
Germany      80.940  3874437        357114  0.916    Europe

In [94]:
df[2:5]

         Population      GDP  Surface Area    HDI Continent
Germany      80.940  3874437        357114  0.916    Europe
Italy        60.665  2167744        301336  0.873    Europe
Japan       127.061  4602367        377930  0.891      Asia

In [95]:
df[3:7]

                Population       GDP  Surface Area    HDI Continent
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [96]:
df.loc['Italy']

Population       60.665
GDP             2167744
Surface Area     301336
HDI               0.873
Continent        Europe
Name: Italy, dtype: object

In [98]:
df.loc['Italy' : 'United States', 'Population']

Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: Population, dtype: float64

In [99]:
df.loc['Italy' : 'United States', ['Population', 'GDP']]

                Population       GDP
Italy               60.665   2167744
Japan              127.061   4602367
United Kingdom      64.511   2950039
United States      318.523  17348075

In [100]:
df.loc['Japan' : 'United States' , ['HDI' , 'Continent']]

                  HDI Continent
Japan           0.891      Asia
United Kingdom  0.907    Europe
United States   0.915   America

In [101]:
df.iloc[1:3,[0,3]]

         Population    HDI
France       63.951  0.888
Germany      80.940  0.916

In [104]:
df.iloc[[0, 1, -1]]

               Population       GDP  Surface Area    HDI Continent
Canada             35.467   1785387       9984670  0.913   America
France             63.951   2833687        640679  0.888    Europe
United States     318.523  17348075       9525067  0.915   America

In [105]:
df.iloc[[1, 3, 0]]

        Population      GDP  Surface Area    HDI Continent
France      63.951  2833687        640679  0.888    Europe
Italy       60.665  2167744        301336  0.873    Europe
Canada      35.467  1785387       9984670  0.913   America

In [107]:
df.iloc[1:3, 1:3]

             GDP  Surface Area
France   2833687        640679
Germany  3874437        357114